
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fraunces:opsz@9..144&family=Inter:wght@400;600;700&family=Poppins:wght@200;400&family=Syne:wght@600;800&family=Work+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    overflow: hidden;
}

.headBox{
    width:50%;
    height:20vh;
    display:flex;
    /* border:1px solid blue; */
}

.box {
    width: 3.5%;
    height: 70.5%;
    background: #FF6262;
}

.box1{
    border-top-left-radius: 1vw; 
}

.box2{
    height:45%;
    margin-left: 1.5vw;    
} 

.midSectionBox{
    margin-left:5%; 
    margin-top: 2%;
    /* border:1px solid blue; */
}
.section1{
    position:relative;
}
.section1 span{    
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    
}

.Rlogo{
    box-shadow: 0px 0.294252872467041px 0.07356321811676025px 0px #00000040;
    width: 53.82px;
    height: 59.87px;
}

.section2{
    display:inline-block;
    border-bottom:1px solid #1F1F1F;
    margin-top: 3%;
    margin-left: 0.5%;
    padding-bottom: 1%;
}

.section2 h3{
    font-family: Fraunces;
}

.section2 h2{
    font-family: Fraunces;
    font-size: 54px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;  
}

.section2 h1{
color: #FD3A3A;
font-family: Fraunces;
font-size: 72px;
font-weight: 500;
line-height: 80px;
letter-spacing: 0em;
}

.section3{
    width:25%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid red; */
    padding-left: 0.5%;
    margin-left: 0.5%;
    margin-top: 1%;
}

.section3 p{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.section4{
    position:relative;
}

.section4 img{
    width:1500px;
    object-fit: contain;
    position:absolute;
    top:250px;
    left: 50px;
}

.top_layer{
    z-index: 1;
    opacity: 0.5;
}

.boxR{
    width:8px;
    height:20px;
    background: #FF6262;
}

.boxWhiteR{
    width: 1.48px;
height: 3.67px;
background:white;
z-index: 2;
}

.imageReshuffle{
    position:relative;
    top:200px;
    left:600px;
    display:inline-block;
    /* border:2px solid red; */
    z-index: 5;
}

.item{
    width:225px;
}

.selectedItem{
    width:400px;
    position:relative;
    top:530px; 
    left:530px;
    transition:all 1s ease-in;
}


.animate-left {
    animation: moveLeft 1s forwards;
    transform-origin: left bottom;
}

.animate-center {
    animation: moveCenterToLeft 1s forwards;
    transform-origin: left bottom;
  }
  
  .animate-right {
    /* animation: growRight 1s forwards; */
    animation: moveRight 1s forwards;
  }
  @keyframes moveLeft {
    to {
      transform: translateX(-180%) scale(1.8);
    }
  }

  @keyframes moveCenterToLeft {
    to {
      transform: translateX(-55%) scale(0.55);
    }
  }
  

  @keyframes moveRight {
    to {
      transform: translateX(280%);
    }
  }
  
  @keyframes growRight {
    to {
      transform: scale(2); 
    }
  }
  @keyframes shrinkLeft {
    to {
      transform: scale(0.6);
    }
  }

.mobileFrame{
    width:1000px;
    position:absolute; 
    /* top:200px; */
    left:650px;
    z-index:7;
    transition:all 1s ease-in;
}

.macBook{
    animation: moveToRight 1s forwards;
}
@keyframes moveToRight {
    to {
        transform: translateX(20%);
    }
  }